In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=pd.read_csv("NationalNames.csv")

In [4]:
data.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [7]:
data.shape

(1825433, 5)

In [8]:
data["Name"].nunique

<bound method IndexOpsMixin.nunique of 0               Mary
1               Anna
2               Emma
3          Elizabeth
4             Minnie
             ...
1825428       Zykeem
1825429       Zymeer
1825430      Zymiere
1825431        Zyran
1825432        Zyrin
Name: Name, Length: 1825433, dtype: object>

In [11]:
#label encoder on gender

In [10]:
#preprocesssing

In [ ]:
#make letter to number and make dict (vocab)