## 3ways of running python
<b>bold Tag</b>
- notebook
- CMD
- Making a python file.py

In [1]:
#f-string
name="Aryan"
age=20

f"my name is {name},I am {age} yr old"

'my name is Aryan,I am 20 yr old'

# Start With Loops
 - while loop 
 - for loop

In [2]:
#while loop
i=0

while(i<10):
    print(i,end=" ") # parameter " ", ","
    i+=1

0 1 2 3 4 5 6 7 8 9

In [1]:
a=4
while a>0:
    print(a)
    a-=1

4
3
2
1

In [1]:
for i in "aryan":
    print(i,end=" ")

a r y a n

In [3]:
# for in loop

for ele in range(3,21): #parameter in range is exclusive so if u want 10 so u have to pass 11
    if ele%2!=0:
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

In [4]:
# for in loop
#jump parameter
for ele in range(3,21,2): #parameter in range is exclusive so if u want 10 so u have to pass 11
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

In [5]:
for _ in range(10):
    print("*",end="*")
    #don't need to use the iterator.

********************

In [6]:
#map is a function which takes an interable( list in this case) and convert it into one new
#list with each entry being the result of corresponding entry from the input list based on the given key function.
#list=map (int, input().split())?

# Strings

In [9]:
a ="I like to Code"
print(a[0])
print(a[-1])
print(len(a))

for i in range(len(a)):
    print(a[i],end="")
    
print()
    
for c in a:
    print(c,end="")

I
e
14
I like to Code
I like to Code

In [7]:
# Concat  2 String 
a = "Hello"
b = "World"
print(a+" "+b)
print(a+" "+b*2)

Hello World
Hello WorldWorld

In [44]:
# ''
# " "
# """ """  # Triple Quotes

st="My name is aryan . i am from delhi"
print(type(st))

#Multiline string 

s1="""My name is aryan .

i am from delhi """
print(s1)

<class 'str'>
My name is aryan .

i am from delhi

In [45]:
print(s1)
s1

My name is aryan .

i am from delhi

'My name is aryan .\n\ni am from delhi '

In [46]:
#String methods
st.upper()

'MY NAME IS ARYAN . I AM FROM DELHI'

In [47]:
st.lower()

'my name is aryan . i am from delhi'

In [48]:
st.isalpha() # after . +tab

False

In [52]:
print("23asdS".isalnum())
print("Asd".islower())
print(" ".isspace())
st.isdigit()

True
False
True

False

In [38]:
#string ==> list of strings USE SPLIT()
l = s1.split()
print(l)
print(type(l))
print(type(l[0]))

['My', 'name', 'is', 'aryan', '.', 'i', 'am', 'from', 'delhi']
<class 'list'>
<class 'str'>

In [39]:
s1.splitlines()
# for splitting para into lines

['My name is aryan .', '', 'i am from delhi ']

In [7]:
st.format_map?
print(st.format_map)
st.format_map

<built-in method format_map of str object at 0x000002626FAA7E70>

S.format_map(mapping) -> str

Return a formatted version of S, using substitutions from mapping.
The substitutions are identified by braces ('{' and '}').
Type:      builtin_function_or_method

The format_map(mapping) is similar to str.format(**mapping) method.**

The only difference is that str.format(**mapping) copies the dict whereas str.format_map(mapping) makes a new dictionary during method call. This can be useful if you are working with a dict subclass.**

source:https://www.programiz.com/python-programming/methods/string/format_map

In [33]:
class Coordinate(dict):
    def __missing__(self, key):
      return key


print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)

In [40]:
st.strip() # shift +tab give better documentation

#Do check length before removing leading and trailing whites spaces

'My name is aryan . i am from delhi'

In [9]:
"        codinglots of fun.     ".rstrip() # rstrip right  left lstrip both strip

'        codinglots of fun.'

In [10]:
"         codinglots of fun.     ".lstrip()

'codinglots of fun.     '

In [73]:
"aryan".capitalize()

'Aryan'

In [74]:
"aryan".title()

'Aryan'

In [11]:
"Aryan".istitle() #tell title

True

In [15]:
st = "Mumbai is undoubtedly the commercial capital of India and is one of the predominant port cities in the country. Mumbai's nature as the most eclectic and cosmopolitan Indian city is symbolized in the presence of Bollywood within the city, the centre of the globally-influential Hindi film and TV industries. It is also home to India's largest slum population."

In [19]:
print("ram is our lord and we all chant for ram ".count("ram")) #count words
print(st.count("mumbai"))
print(st.count("Mumbai"))

2
0
2

In [68]:
st="My name is aryan . i am from delhi"

In [69]:
#find and index method
print(st.find("name"))
print(st.find("tell"))
print(st.index("elhi"))

# when not able to find index 
# Difference is find() return -1, index throws an exception

3
-1
30

In [70]:
st.split(" ") #it return list and break string !!

['My', 'name', 'is', 'aryan', '.', 'i', 'am', 'from', 'delhi']

In [71]:
st.split(".") #it split from " ." character

['My name is aryan ', ' i am from delhi']

In [72]:
s = "_"
s =s.join(st)
print(s)

M_y_ _n_a_m_e_ _i_s_ _a_r_y_a_n_ _._ _i_ _a_m_ _f_r_o_m_ _d_e_l_h_i

-----------------------------------------------------------------------------

In [24]:
st[0]

'M'

In [25]:
len(st)

34

In [26]:
st[len(st)-1] #this will give us last charcter

'i'

In [27]:
st[len(st)-2] #this will give us second last charcter

'h'

In [29]:
#backward/negative  indexing 
print(st[-1])
st[-2]

i

'h'

In [30]:
#slicing of String
#st[start_idx:end_idx+1] #last wala prt in python is exclusive
st[11:16]

'aryan'

In [31]:
print(st[:])
print(st[11:])
print(st[11:-1])

My name is aryan . i am from delhi
aryan . i am from delhi
aryan . i am from delh

In [32]:
#step size  hai third one after 2nd colon
print(st[::-1]) #reverse a string
print(st[9:2:-1]) # step size here use to reverse the string
print(st[:21:2])

ihled morf ma i . nayra si eman yM
si eman
M aei ra

In [82]:
print("".join(reversed(st)))
print(st)

ihled morf ma i . nayra si eman yM
My name is aryan . i am from delhi

In [47]:
st="changed" # here refernce are changed so string are immutable 
# also indexedable 
#those thing are immutable  they are also hashable

In [48]:
st

'changed'

In [1]:
str[0]="r"
#as string are immutable

TypeError: 'type' object does not support item assignment

### To Understand more on Immutable(string are not immutable)

In [56]:
a = "Aryan"
b = "Aryan"
print("id of name_1 = ", id(a))
print("id of name_2 = ", id(b))

id of name_1 =  2621804877296
id of name_2 =  2621804877296

When the above lines of code are executed, you will find that the idâ€™s of both objects, which refer to the string "Aryan", are the same.

In [55]:
a = "Aryan"
b = "aryan"
print("id of name_1 = ", id(a))
print("id of name_2 = ", id(b))

id of name_1 =  2621804877296
id of name_2 =  2621804876400

when a string reference is reinitialized with a new value, it is creating a new object rather than overwriting the previous value.

In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake).

# Operators

## 1. Arithmetic operators
 
| Symbol | Task Performed |
|----|--------------------|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [19]:
print(2 + 5)
print(5 - 2)
print(10 / 2) # gives float value
print(110 % 100) # remainder 
print(5*2)
print(10 // 2) # floor division 
print(2**5)   # a^b

7
3
5.0
10
10
5
32

## 2. Comparison operators

   | Symbol | Task Performed |
   |----|---|
   | == | True, if it is equal |
   | !=  | True, if not equal to |
   | < | less than |
   | > | greater than |
   | <=  | less than or equal to |
   | >=  | greater than or equal to |

In [20]:
print(2==2)
print(2!=2)
print(2<3)
print(2>2)
print(2<=3)
print(2>=3)

True
False
True
False
True
False

In [21]:
# we can also do String comparsion (lexographically)
print("abc" < "abd")
print("xy" < "abc")
print("ABC" < "abc") # here it see ASCII value
print(ord("A"))
print(ord("a"))

True
False
True
65
97

## 3. Assignment operators

- =
- +=
- -=
- *=
- /=
- %=
- //= &nbsp;     means x=x//4
- \**= &nbsp;    means x=x\**2
- &=   &nbsp;    means x=x & 2  &nbsp;  (and)
- |=  &nbsp;     means x=x|2  &nbsp;     (or)
- ^=
- \>>=  &nbsp;   both of these are shift op.(bitwise operators)
- <<=

## 4. Logical Operators

   | Symbol | Task Performed |
   |----|---|
   | and | True if both statements are true |
   | or  | True if one of the statements is true |
   | not | opposite of the result(reverse the result) |

In [1]:
isinstance(1,int)

True

In [2]:
isinstance(1.0,float)

True

In [9]:
print(isinstance(True,bool))
print(isinstance(True,int))
print(5 + True) #True is nothingbut is integer (inherted from integers)
print(5 + bool(1))
print(type(True))

True
True
6
6
<class 'bool'>

In [10]:
print(True and True)
print(not True) #hence similarly you can print truth table

True
False

In [12]:
#truthy value - +int,-int, " ", True
#falsy value  - 0, "", False
5 and 0

# and can be represented as &&
# or can be represented as ||

0

a truthy value is a value that is considered true when encountered in a Boolean context. All values are truthy unless they are defined as falsy (i.e., except for false , 0 , -0 , 0n , "" , null , undefined , and NaN ).

#### Short Circuiting

0 || B = B <br>
1 || B = 1 <br>
0 && B = 0 <br>
1 && B = B <br>

In [15]:
" " and "aryan" #true and true gives us true
0 and 1

0

## 5. Bitwise Operators
| Symbol | Task Performed |
|----|---|
| & | Sets each bit to 1 if both bits are 1  |
| \| | Sets each bit to 1 if one of two bits is 1  |
| ^ |  Sets each bit to 1 if only one of two bits is 1  |
| ~ |   Inverts all the bits |
| >> | Shift left by pushing zeros in from the right and let the leftmost bits fall off   |
| << |  Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off  |

## 6. Identity and Membership Operators

| Symbol | Task Performed |
   |----|---|
   |**Identity**|   |
   | is | True if both variables are the same object |
   | is not  | True if both variables are not the same object |
   | **Membership**|   |
   | in | True if a sequence with the specified value is present in the object |
   | not in | True if a sequence with the specified value is not present in the object |

In [16]:
ord("A")

65

In [50]:

(2>7) and (5>7) 
#to fullfill "and" operaator
#all the coditions should be true

False

In [53]:
(7>=7 ) or (7>10)

True

In [54]:
not True

False

In [60]:
not( 3>5)

True

In [61]:
10 & 4

0

In [64]:
10|4

14

In [65]:
bin(10)

'0b1010'

In [83]:
0b1010

10

# Functions

functions are resuable pieces of programs.They allow you to give a name to block of statements ,allowing you to run that the block using the specified name anywhere in your program and any number of times. this is known as calling the function . for eg built in function are len,range

In [1]:
# def function name(argument(s)):
#     function inside code

def fun():
    print("hello from fun function")
    print("function")
    return 




fun()
print("after func()")

hello from fun function
function
after func()

In [10]:
for i in range(10):
    print("hello aryan")

hello aryan
hello aryan
hello aryan
hello aryan
hello aryan
hello aryan
hello aryan
hello aryan
hello aryan
hello aryan

In [1]:
def hellofunc(name,num=3): #default parameters
    for i in range(num):
        print(f"hello my name is :",name)

In [2]:
hellofunc("aryan",5)

hello my name is : aryan
hello my name is : aryan
hello my name is : aryan
hello my name is : aryan
hello my name is : aryan

In [3]:
hellofunc("aryan")

hello my name is : aryan
hello my name is : aryan
hello my name is : aryan

In [4]:
#in python we dont pass type of parameter which just pass parameter

def hello():
    print("hello from function")

In [2]:
def div(a,b):
    try:
        return a/b
    except:
        print("Error")
    finally:
        print("This will print everytime as its finally block")

# Round Function

In [6]:
a = [1,2,3,4,5,6.68,0]
print(max(a))
print(round(max(a),1)) #round of 6.68 to 1 decimal places
print(round(max(a)))

6.68
6.7
7

In [8]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

# local And global variable

In [15]:
x=10
def show():
    x=5
    print(x)

In [16]:
show() #local variable 
print(x) #global variable

5
10

In [17]:
x=10
def show():
    # No assignment to x and we are updating it 
    x+=5
    print(x)

In [18]:
show() #local variable 
print(x) #global variable

UnboundLocalError: local variable 'x' referenced before assignment

In [19]:
x=10 #this ix defined in global scope
def show():
    global x
    # No assignment to x and we are updating it 
    x+=5
    print(x)

In [20]:
show()
print(x) #so both are updated

15
15

In [21]:
x=10
def show():
    y="local"
    print(x)
    print(y)

In [22]:
show()
print(x)
print(y)

10
local
10

NameError: name 'y' is not defined

In [23]:
#enclosures
def outer():
    x="local"
    def inner():
        print(x)
        
        
    inner()
    print(x)

In [24]:
outer()

local
local

In [25]:
x=10
def show():
    y="local"
    print(x)
    print(y)

In [26]:
show()

10
local

In [27]:
del x #delelting earlier global X

In [28]:
# enclosures 
def outer():
    x=10
    
    def inner():
        global x
        x+=5
        print(x)
        
    inner()
    print(x)

In [29]:
outer()

NameError: name 'x' is not defined

# nonlocal

In [30]:
# enclosures 
def outer():
    x=10 #this x is in enclosures / non local scope
    
    def inner():
        nonlocal x
        x+=5
        print(x)
        
    inner()
    print(x)

In [31]:
outer()

15
15

In [3]:
div(10,1)

This will print everytime as its finally block

10.0

In [4]:
div(9,5)

This will print everytime as its finally block

1.8

In [7]:
div(1,0)

Error
This will print everytime as its finally block

In [23]:
def div(a,b):
    try:
        return a/b
    except:
        print("Error")
    finally:
        print("This will print everytime as its finally block")
        return 10

In [25]:
div(10,1)
div(1,0)

This will print everytime as its finally block
Error
This will print everytime as its finally block

10

In [17]:
hello #hello is now afunction

In [23]:
def func_name(a,b,c): #we cant place docstring at bottom it should be at top
    """Docstring-
    
    this is my custom function.I really love python
    """
    print("hello from \t custom function")
    
    res =a+b
    c() #we can pass string ,float ,int ,any func in parameters
    #print(c) #its shows that its afunction 
    #as a parameter we have to pass a function
    return res

In [24]:
func_name # which file is it in? main`

In [31]:
st.replace
#out means intermiadiate result

In [32]:
res=func_name(5,9,hello) #if we add doc string at end of func we dont get it

hello from 	 custom function
hello from function

In [33]:
print(res)

14

In [34]:
#def authentication(user,passw,login) for a page
def authentication (user,passw,login):
    if user=="aryan" and passw=="no":
        login()
    else:
        print("incorrect function")

<b>keyword arguments</b>

if you some functions with many parameters and you want to specify only some of them ,then you can give values for such parameters by naming them-keyword arguments <br>
we use the name (keyword) instead of the postion to specify arguments to function

In [37]:
def check(cars,name,age):
    print(f"my name is {name},my age is {age},i have cars={cars}")

In [33]:
check("aryan",20,2) #so it creates a problem
#earlier postional arguement 
#so here comes keyword arguement to resolve problrm

my name is 20,my age is 2,i have cars=aryan

In [34]:
check(2,name="aryan",age=20) #we also can give cars not but 
#postional arguement should always be in front

my name is aryan,my age is 20,i have cars=2

### args and kwargs
<pre>
*args
**kwargs
</pre>

In [35]:
def test_func(*args): #multiple aruements
    print(args) 
    print(args[0])
    print(args[-1])

In [36]:
test_func(1,2,3,4,5,6,7,8,9)#can pass many arguements
#they are going in the form of tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)
1
9

In [41]:
def test_func1(**kwargs): #keyword arguement
    print(kwargs)
    print(kwargs['name']) #we have to pass keyword
    #as its a keyworded arguement

In [42]:
test_func1(name="aryan",age=20,cars=4)
#so here they come in format of
#keyword:value <==dictonary

{'name': 'aryan', 'age': 20, 'cars': 4}
aryan

In [46]:
def final_fuc(n1,n2,n3,*args,n4=10,**kwargs):
    print(n1)
    print(n2)
    print(n3)
    print(n4)
    print(args)
    print(kwargs)

In [47]:
#positional argument follows keyword argument

final_fuc(3,4,7,90,"hello",True,100,n4=20,name="Mohit",age=20) # we cant write args after kwargs 
#means no keyworded argument can be place before positional one!
#at least minimum no. of required==> postional
#optional==>args and kwargs(keyword argue...)

3
4
7
20
(90, 'hello', True, 100)
{'name': 'Mohit', 'age': 20}

<pre>
n=5
*
**
***
****
*****
</pre>

In [46]:

n=int(input())
for i in range(1,n+1):
    for y in range(1,i+1):
        print("*",end="")
    print() # means print(end='\n')

5
*
**
***
****
*****

In [47]:
for i in range(1,n+1):
    print('*'*i) #multiplying at every iteration

*
**
***
****
*****

## lambda function

one liner function

In [57]:
def add():
    return 10+10

In [58]:
add()

20

In [59]:
print(add)

<function add at 0x000001A538CCC700>

In [60]:
add=10

In [62]:
print(add)

10

In [72]:
def multi(a,b):
    return a+b

In [73]:
add=lambda a,b:a+b #one line function

In [74]:
add(2,3)

5

In [75]:
multi(4,5)

9

In [78]:
a=[3,4,5,6,7,8,10,9]

In [79]:
sorted(a)

[3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
a=[("BMW",10),("AUDI",20),("MUSTANG",30),("PORSCHE",40)]

In [81]:
sorted(a,key=None)

[('AUDI', 20), ('BMW', 10), ('MUSTANG', 30), ('PORSCHE', 40)]

In [ ]:
sorted?

In [84]:
sorted(a,key= lambda x:x[1]) 
#takes parameter of object as the list and return the object which is to compared

[('BMW', 10), ('AUDI', 20), ('MUSTANG', 30), ('PORSCHE', 40)]

## Decoraters

In [106]:
users={
    "aryan":"password",
    "ram":"pass",
    "krishna":"hello"
}

In [107]:
def show(username,password):
    if username in users and users[username] == password:
        print("hello World")
    else:
        print("nOt authenticated")

In [108]:
show("aryan","passs")

nOt authenticated

In [109]:
show("ram","pass")

hello World

In [117]:
def add(username,password,a,b):
    if username in users and users[username] == password:
        print(a+b)
    else:
        print("Not authenticated")

In [118]:
add("aryan","password",1,2)
#so we can see their is reductancy in function

3

In [151]:
#so function are also an obj
def login_required(func):
    def wrapper(username,password,*args,**kwargs):
        if username in users and users[username] == password:
            print(func(*args,**kwargs))
        else:
            print("Not authenticated")
    return wrapper

In [159]:
add= lambda a,b:a+b
add=login_required(add)
#both of the blocks above and below are same 
#they have same functioning
#creates the function add 
#then pass it the function login required
#change sthe variable of add function 
#modified the var with the new func return

In [ ]:
@login_required

def add(a,b):
    print(a+b)

In [153]:
add(1,2)

3

In [154]:
protected_add= login_required(add)
#generic function and we are just passing a function as parameter

In [155]:
print(protected_add) #so now are function is password protected

<function login_required.<locals>.wrapper at 0x000001A5395E9A60>

In [156]:
protected_add("ram","pass")

TypeError: <lambda>() missing 2 required positional arguments: 'a' and 'b'

In [157]:
protected_add("ram","pass",2,3)

5

In [158]:
add=login_required(add) #see above

In [124]:
def temp(*args,**kwargs):
    print(args)
    print(kwargs)

In [127]:
a={1,2,3}
print(temp(a))
print(temp(*a))

({1, 2, 3},)
{}
None
(1, 2, 3)
{}
None

-----------------------------------------------------------------------------

# Data Structures
- list
- tuple
- set
- dictionary

## list
- indexing
- mutable
- heterogeneous element

In [48]:
li=[]

In [49]:
type(li)

list

In [50]:
li2 =list() #its a constructor ==>list()
a=list([1,4,5,67])
print(a)

[1, 4, 5, 67]

In [51]:
type(li2)

list

In [1]:
li=[4,5,6,7,88,9]

In [2]:
li

[4, 5, 6, 7, 88, 9]

In [3]:
print(li[0])
print(li[-1])

#slicing
print(li[2:-1])

4
9
[6, 7, 88]

In [4]:
li[0]=100 #means it is mutable

In [5]:
li

[100, 5, 6, 7, 88, 9]

In [57]:
li2=[2,3,45,"hello","world"]

In [58]:
li2

[2, 3, 45, 'hello', 'world']

In [59]:
li2[3][4]

'o'

In [60]:
#nested list
li_new=[[1,2,3],["aryan","gulati"],["bmw","audi"],[10,20,30,["pogo"]]]

In [61]:
len(li_new)

4

In [62]:
print(li_new[-1][3][0])
print(li_new[-1][3])

pogo
['pogo']

In [63]:
mat=[[9,8,7],[1,2,3],[7,8,9],[3,4,5]]

In [64]:
len(mat)

4

In [14]:
li.append(899)
#extend u need to see

In [15]:
li

[100, 5, 333, 6, 7, 88, 9, 899]

In [16]:
li.insert(2,333)

In [17]:
li.remove(899)

In [18]:
li

[100, 5, 333, 333, 6, 7, 88, 9]

In [19]:
li.reverse()

In [20]:
li

[9, 88, 7, 6, 333, 333, 5, 100]

In [21]:
li[::-1]

[100, 5, 333, 333, 6, 7, 88, 9]

In [22]:
li.sort()

In [23]:
li

[5, 6, 7, 9, 88, 100, 333, 333]

In [24]:
li=[1,2,3,4,5]
li2=li
li2[0]=100

In [25]:
li2

[100, 2, 3, 4, 5]

In [26]:
li #so li and li2 objects have same reference

[100, 2, 3, 4, 5]

In [27]:
l1=[1,2,3,4,5]
l2=l1.copy()
l2[0]=100

In [28]:
l2

[100, 2, 3, 4, 5]

In [29]:
l1

[1, 2, 3, 4, 5]

In [30]:
"n" in "aryan"

True

In [31]:
1 in [1,2,3,4]

True

In [32]:
9 in [[9,8,7],[1,2,3],[7,8,9],[3,4,5]]

False